.home-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

.home-logo.blink {
  position: absolute;
}

.home-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0rem;
}

.home-version {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0rem;
  color: var(--rp-c-text-2);
}

.home-subtitle {
  font-size: 1.25rem;
  text-align: center;
  display: block;
  margin-top: -0.5rem;
}

.home-list-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.home-list {
  margin: auto 0;
  width: fit-content;
  line-height: 1.2;
  max-width: min(30rem, 90vw);
}

.home-list p {
  margin: 0;
  line-height: 1.3;
}
.code-block {
  padding: 1rem 1rem;
  line-height: 1.3;
  background-color: var(--rp-code-block-bg);
  border-radius: 0.5rem;
  margin: 0.25rem 0;
  white-space: nowrap;
  overflow-x: auto;
}

.code-block-prefix {
  color: #777;
  user-select: none;
}

.code-comment {
  color: #777;
}

.note {
  font-size: 0.95rem;
  margin: -1rem 0;
}

.rspress-nav-menu-item {
  gap: 0.25rem;
}

.home-anchors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: -1.5rem;
  gap: 1rem;
}

.home-anchors a {
  color: var(--rp-c-link);
}

.whats-new-title {
  margin-top: 1.5rem;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  display: block;
  margin-bottom: 0rem;
  /* margin-top: -1rem; */
}

.whats-new-subtitle {
  text-align: center;
  width: 100%;
  display: block;
  /* margin-top: -1.75rem; */
  opacity: 0.75;
}

.cli-command-doc,
.cli-global-option-doc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.cli-command-doc h3,
.cli-global-option-doc h3 {
  font-size: 1.35rem;
  text-decoration: underline;
}

hr {
  border-color: var(--rp-c-divider-light);
}

.cli-docs-container h3 {
  text-decoration: underline;
}

.cli-doc-section-anchor {
  position: absolute;
  top: -2.25rem;
  pointer-events: none;
}

.config-deprecation-text {
  color: var(--rp-container-danger-text);
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.1;
  margin-top: -1rem;
}

.cli-global-option-doc-deprecation-text {
  color: var(--rp-container-danger-text);
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  line-height: 1.1;
}

.workspace-config-path {
  margin-top: 0.5rem;
}

.whats-new-list ul,
li {
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 0.5rem !important;
}

.deprecated {
  color: var(--rp-container-danger-text);
}

.brag-ticker-container {
  height: 2rem;
}

@keyframes brag-ticker-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% + 0.75rem));
  }
}

.brag-ticker {
  background-color: var(--rp-code-block-bg);
  border-top: 1px solid var(--rp-c-divider-light);
  padding: 0 1rem;
  gap: 0.65rem;
  height: 1.75rem;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  left: 0;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .brag-ticker {
    animation: brag-ticker-animation 40s linear infinite;
  }
}

@media (min-width: 769px) {
  .brag-ticker {
    animation: brag-ticker-animation 100s linear infinite;
  }
}

.brag-ticker-item {
  white-space: nowrap;
}

.brag-ticker-item.dot {
  color: var(--rp-container-info-text);
  font-size: 0.8em;
}
