.dark {
  --rp-c-bg: #16151c;
  --rp-c-bg-soft: rgb(31, 31, 40);
  --rp-c-bg-mute: rgb(32, 32, 43);
  --rp-c-link: rgb(128, 162, 255);
  --rp-c-code-block-bg: #101014;
}

.dark .light-only {
  display: none;
  visibility: hidden;
}

.light .dark-only {
  display: none;
  visibility: hidden;
}

.pixel-art-image {
  image-rendering: pixelated;
}

.pixel-art-image.small {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.nav-title-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  font-family: var(--rp-font-family-mono);
  font-weight: bold;
}

.nav-title-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.25rem;
  height: 100%;
  min-width: 7rem;
  margin-bottom: -0.5rem;
  gap: 0.05rem;
}

.nav-title-text.light-only {
  margin-top: -0.75rem;
}

.nav-title-version {
  font-size: 0.65rem;
  color: var(--rp-c-text-2);
  font-family: var(--rp-font-family-mono);
}

.home-title {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.home-subtitle {
  font-size: 1.15rem;
  text-align: center;
  display: block;
  margin-top: 1.25rem;
}

.home-list-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 0.5rem; */
  margin-bottom: 1.5rem;
}

.home-list {
  margin: auto 0;
  width: fit-content;
  line-height: 1.2;
  max-width: min(30rem, 90vw);
}

.home-list p {
  margin: 0;
  line-height: 1.3;
}
.code-block {
  padding: 1rem 1rem;
  line-height: 1.3;
  background-color: var(--rp-code-block-bg);
  border-radius: 0.5rem;
  margin: 0.25rem 0;
  white-space: nowrap;
  overflow-x: auto;
}

.code-block-prefix {
  color: #777;
  user-select: none;
}

.code-comment {
  color: #777;
}

.note {
  font-size: 0.95rem;
}

.rspress-nav-menu-item {
  gap: 0.25rem;
}

.home-anchors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: -1.5rem;
  gap: 1rem;
}

.home-anchors a {
  color: var(--rp-c-link);
}

.whats-new-title {
  margin-top: 1.5rem;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  display: block;
  margin-bottom: 0rem;
  /* margin-top: -1rem; */
}

.whats-new-subtitle {
  text-align: center;
  width: 100%;
  display: block;
  /* margin-top: -1.75rem; */
  opacity: 0.75;
}

.cli-command-doc,
.cli-global-option-doc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.cli-command-doc h3,
.cli-global-option-doc h3 {
  font-size: 1.35rem;
  text-decoration: underline;
}

hr {
  border-color: var(--rp-c-divider-light);
}

.cli-docs-container h3 {
  text-decoration: underline;
}

.cli-doc-section-anchor {
  position: absolute;
  top: -2.25rem;
  pointer-events: none;
}

.config-deprecation-text {
  color: var(--rp-container-danger-text);
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.1;
  margin-top: -1rem;
}

.cli-global-option-doc-deprecation-text {
  color: var(--rp-container-danger-text);
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  line-height: 1.1;
}

.cli-command-options-container {
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
}

.cli-command-option-flags :nth-child(2) {
  margin-left: 0.3rem;
}

.cli-command-option-flags > * {
  display: inline-block;
}

.cli-command-option-flags code {
  white-space: nowrap;
}

.workspace-config-path {
  margin-top: 0.5rem;
}

.whats-new-list ul,
li {
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 0.5rem !important;
}

.deprecated {
  color: var(--rp-container-danger-text);
}

.brag-ticker-container {
  height: 2rem;
}

@keyframes brag-ticker-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% + 0.75rem));
  }
}

.brag-ticker {
  background-color: var(--rp-code-block-bg);
  border-top: 1px solid var(--rp-c-divider-light);
  padding: 0 1rem;
  gap: 0.65rem;
  height: 1.75rem;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  left: 0;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .brag-ticker {
    animation: brag-ticker-animation 100s linear infinite;
  }

  .sub-header-links {
    overflow-x: scroll;
  }

  .sub-header-links-title {
    display: none;
  }

  .sub-header-links a {
    min-width: 9rem;
  }
}

@media (min-width: 769px) {
  .brag-ticker {
    animation: brag-ticker-animation 190s linear infinite;
  }
}

.brag-ticker-item {
  white-space: nowrap;
}

.brag-ticker-item.dot {
  color: var(--rp-container-info-text);
  font-size: 0.8em;
}

.sub-header {
  margin-top: -1rem;
}

.sub-header hr {
  margin: 2rem 0;
}

.sub-header-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.sub-header-links-title {
  margin-right: 0.5rem;
}

.sub-header-links a {
  color: var(--rp-c-link);
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  text-align: center;
  border: 1px solid var(--rp-c-divider);
}

.sub-header-links a.active {
  background-color: var(--rp-c-bg-soft);
  color: var(--rp-c-text-1);
}

.rspress-doc {
  min-height: calc(100dvh - 120px);
  padding-bottom: 2rem !important;
}

.footer {
  position: absolute;
  bottom: 2rem;
  z-index: -1;
  left: 0;
  color: var(--rp-c-text-2);
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.animated-sprite-container {
  width: fit-content;
  height: fit-content;
}

.bwunster-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.bwunster-top {
  width: 128px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bwunster-bottom {
  margin-top: 0.75rem;
}

.bwunster-bottom .light-only {
  margin-top: -25px;
}

.bwunster-idle {
  position: absolute;
}
