.home-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

.home-logo.blink {
  position: absolute;
}

.home-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0rem;
}

.home-version {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.home-subtitle p {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.home-list-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.home-list {
  margin: auto 0;
  width: fit-content;
  line-height: 1.2;
  max-width: min(30rem, 90vw);
}

.home-list p {
  margin: 0;
  line-height: 1.3;
}
.code-block {
  padding: 1rem 1rem;
  line-height: 1.3;
  background-color: var(--rp-code-block-bg);
  border-radius: 0.5rem;
  margin: 0.25rem 0;
  white-space: nowrap;
  overflow-x: auto
}

.code-block-prefix {
  color: #777;
  user-select: none;
}

.code-comment {
  color: #777;
}

.note {
  font-size: 0.95rem;
  margin: -1rem 0;
}

.rspress-nav-menu-item {
  gap: 0.25rem;
}

.home-anchors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: -1.5rem;
  gap: 1rem;
}

.home-anchors a {
  color: var(--rp-c-link);
}

.whats-new-title {
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  display: block;
  margin-bottom: 0rem;
  /* margin-top: -1rem; */
}

.whats-new-subtitle {
  text-align: center;
  width: 100%;
  display: block;
  margin-top: -1.75rem;
  opacity: 0.75;
}

.cli-command-doc, .cli-global-option-doc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.cli-command-doc h3, .cli-global-option-doc h3 {
  font-size: 1.35rem;
  text-decoration: underline;
}

hr {
  border-color: var(--rp-c-divider-light);
}

.cli-docs-container h3 {
  text-decoration: underline;
}

.cli-doc-section-anchor {
  position: absolute;
  top: -2.25rem;
  pointer-events: none;
}