name: Test multiple Bun versions and OS

on:
  workflow_dispatch:
  workflow_call:
  schedule:
    - cron: "0 0 * * *"

jobs:
  version:
    strategy:
      fail-fast: false
      matrix:
        bun_version: ["1.2.23", "1.3.5", "1.3.6"]
        os: ["ubuntu", "windows", "macos"]
    uses: ./.github/workflows/test_given_bun_version.yml
    with:
      bun_version: ${{ matrix.bun_version }}
      os: ${{ matrix.os }}
