name: Test Given Bun version and OS

on:
  workflow_call:
  workflow_dispatch:
    inputs:
      bun_version:
        description: The Bun version to test
        required: true
        type: string
        default: 1.3.5
      os:
        description: The OS to test
        required: true
        type: choice
        options:
          - ubuntu
          - windows
          - macos
        default: ubuntu

jobs:
  run_tests:
    runs-on: ${{ inputs.os }}-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup
        with:
          bun_version: ${{ inputs.bun_version }}

      - name: Run Tests
        run: bun bw test

      - name: Run Tests Against Build
        run: bun bw build:test
