name: Test multiple Bun versions

on:
  workflow_dispatch:
  workflow_call:

jobs:
  version:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        bun_version: ["1.2.23", "1.3.0", "1.3.1"]
    steps:
      - uses: actions/checkout@v4

      - name: Install Bun ${{ matrix.bun_version }}
        id: install-bun
        run: |
          bun_version=${{ matrix.bun_version }}
          echo "Installing Bun version: $bun_version"
          export BUN_INSTALL="$HOME/.bun"
          curl -fsSL https://bun.com/install | bash -s "bun-v$bun_version"
          export PATH="$HOME/.bun/bin:$PATH"
          echo "Bun version: $(bun --version)"

      - name: Install Dependencies
        id: install-deps
        run: |
          export PATH="$HOME/.bun/bin:$PATH"
          echo "Bun version: $(bun --version)"
          bun install

      - name: Run Tests
        id: run-tests
        run: |
          export PATH="$HOME/.bun/bin:$PATH"
          echo "Bun version: $(bun --version)"
          bun bw test --reporter=junit --reporter-outfile=j../../junit.xml
          if grep -q "<skipped" junit.xml; then
            echo "âŒ Skipped tests found. Exiting with error."
            exit 1
          fi

      - name: Run Tests Against Build
        id: run-tests-against-build
        run: |
          export PATH="$HOME/.bun/bin:$PATH"
          echo "Bun version: $(bun --version)"
          bun bw build:test
