name: Test multiple Bun versions

on:
  workflow_dispatch:
  workflow_call:

jobs:
  version:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        bun_version: ["1.2.23", "1.3.1", "1.3.4", "1.3.5"]
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/test-bun-version
        with:
          bun_version: ${{ matrix.bun_version }}

  windows:
    uses: ./.github/workflows/test_windows.yml
