# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/github-workflow.json

name: Validate Code

on:
  - workflow_call
  - workflow_dispatch

jobs:
  format_check:
    name: Format Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Project
        uses: ./.github/actions/setup
      - name: Format Check
        id: format-check
        run: bun run format-check
  type_check:
    name: Type Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Project
        uses: ./.github/actions/setup
      - name: Type Check
        id: type-check
        run: bun run type-check
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Project
        uses: ./.github/actions/setup
      - name: Lint
        id: lint
        run: bun run lint
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Project
        uses: ./.github/actions/setup
      - name: Run Tests
        id: test
        run: |
          bun --cwd=./packages/bun-workspaces test --reporter=junit --reporter-outfile=../../junit.xml
          if grep -q "<skipped" junit.xml; then
            echo "âŒ Skipped tests found. Exiting with error."
            exit 1
          fi

  test_build:
    name: Run Tests Against Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Project
        uses: ./.github/actions/setup
      - name: Run Tests
        id: test
        run: bun --cwd=./packages/bun-workspaces run build:test
